.list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}

.card {
	display: flex;
	flex-direction: row;
	justify-content: left;
	/* align-items: center; */
	margin: var(--pad) 0;
	padding: var(--pad);
	width: 40%;
	background-color: var(--dark);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	transition: all var(--transition-time);
}

.card:hover {
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.75);
}

@media (max-width: 1000px) {
	.list {
		flex-direction: column;
	}

	.card {
		width: 90%;
	}
}

.contents {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 var(--pad);
}

.contents > * {
	margin: 0;
}

.text {
	font-size: 14pt;
	word-break: break-all;
	line-height: 1;
}

.title {
	text-align: left;
	font-size: 16pt;
	font-weight: bold;
	height: auto;
}