.chip {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 6px 10px;
	border-radius: 100vh;
	text-align: center;
	font-size: small;
}

.button {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: var(--rounding);
	padding: 10px 18px;
	margin: 6px;
	gap: var(--pad);
	background-color: var(--mid);
	color: var(--lighter);
	font-weight: bold;
	transition: var(--transition-time);

	&:hover {
		background-color: var(--light);
		color: var(--darker)
	}
}

.dark {
	background-color: var(--darkest);
	color: var(--lighter);
}

.light {
	background-color: var(--lighter);
	color: var(--darkest);
}