:root {
	--darkest: #0c131e;
	--darker: #1c232e;
	--dark: #2c333e;
	--mid: #009966;
	--light: #00ff00;
	--lighter: #ffffff;
	--transition-time: 0.1s;
	--pad: 6px;
	--rounding: 8px;
}

body {
	margin: 0;
	font-family: 'Rubik', sans-serif;
	background: var(--darkest);
	color: var(--lighter);
	scroll-behavior: smooth;
}

main {
	/* maybe do something */
}

.main-content {
	padding: 32px;
}

h1,
h2,
h3 {
	text-align: center;
	color: var(--lighter);
}

p {
	color: var(--lighter);
}

b {
	color: var(--lighter);
}

a {
	color: var(--mid);
	text-decoration: none;
	transition: color var(--transition-time);
}

a:hover {
	color: var(--light);
}

ul {
	list-style-position: inside;
	list-style-type: '▸ ';
	padding-inline-start: 0;
}

.centerme {
	text-align: center;
}

.expandpage {
	display: flex;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	flex-direction: column;
	justify-content: flex-start;
}